.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  display: flex;
  min-height:10%;
  align-items: center;
  justify-content: space-between;
}

.items{
  display: flex;
  gap:5px;
}

.App-logo {
  pointer-events: none;
  height:10vh;
}

.primary-btn {
  color: #fff;
  background-color: #0074d9;
  border-radius: 3px;
  width:80px;
  margin-right: 20px;
  outline:none;
  cursor: pointer;
  border: none;
  transition: all 0.25s ease-in-out;
}
.primary-btn:hover {
  background-color: #569fde;
  transform: scale(1.05);
}